<!-- Title -->
<div class="text-field form-group">
  <%= form.label :title, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
	  <%= form.text_field :title, required: true, class: 'form-control' %>
  </div>
</div>

<!-- Taggings -->
<div class="text-field form-group">
  <%= form.label :tag_list, "Tags", class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
	  <%= form.text_field :tag_list, placeholder: 'Tags (separated by commans)', class: 'form-control' %>
  </div>
</div>

<!-- Address -->
<div class="text-field form-group">
  <%= form.label :address, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
  	<div class="nested-row nested-col col-sm-12">
		  <%= form.text_field :address, placeholder: 'Address', required: true, class: 'form-control' %>
  	</div>
	  <div class="nested-row">
	  	<div class="nested-col nested-col-left col-sm-9">
			  <%= form.text_field :city, placeholder: 'City', required: true, class: 'form-control' %>
	  	</div>
	  	<div class="nested-col nested-col-right col-sm-3">
			  <%= form.text_field :postcode, placeholder: 'Postcode', required: true, class: 'form-control' %>
	  	</div>
	  </div>
	  <div class="nested-row">
	  	<div class="nested-col nested-col-left col-sm-7">
			  <%= form.text_field :state, placeholder: 'State', required: true, class: 'form-control' %>
	  	</div>
	  	<div class="nested-col nested-col-right col-sm-5">
			  <%= form.text_field :country, placeholder: 'Country', required: true, class: 'form-control' %>
	  	</div>
	  </div>
  </div>
</div>

<!-- Price per night -->
<div class="form-group">
  <%= form.label :price_per_night, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
	  <%= form.number_field :price_per_night, value: (number_with_precision(form.object.price_per_night, precision: 2) || 0), required: true, class: 'form-control' %>
  </div>
  <!-- value: "%.2f" -->
</div>

<!-- Room type -->
<div class="form-group">
  <%= form.label :room_type, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
  	<%= form.select :room_type, options_for_select(['Entire place', 'Private room', 'Shared room'], 'Private room'), {}, { class: 'form-control' } %>
  </div>
</div>


<!-- Smoking allowed -->
<div class="field form-group">
  <%= form.label :smoking_allowed, class: 'col-sm-3 control-label' %>
  <div class="btn-group col-sm-9" data-toggle="buttons-radio">
		<%= form.label :smoking_allowed, class: 'btn btn-default' do %>
			<%= form.radio_button :smoking_allowed, true %>
			<span>Yes</span>
		<% end %>

		<%= form.label :smoking_allowed, class: 'btn btn-default' do %>
			<%= form.radio_button :smoking_allowed, false %>
			<span>No </span>
		<% end %>
  </div>
</div>

<!-- Pets allowed -->
<div class="field form-group">
  <%= form.label :pets_allowed, class: 'col-sm-3 control-label' %>
  <div class="btn-group col-sm-9" data-toggle="buttons-radio">
		<%= form.label :pets_allowed, class: 'btn btn-default' do %>
			<%= form.radio_button :pets_allowed, true %>
			<span>Yes</span>
		<% end %>

		<%= form.label :pets_allowed, class: 'btn btn-default' do %>
			<%= form.radio_button :pets_allowed, false %>
			<span>No </span>
		<% end %>
  </div>
</div>

<!-- Wifi -->
<div class="field form-group">
  <%= form.label :wifi, class: 'col-sm-3 control-label' %>
  <div class="btn-group col-sm-9" data-toggle="buttons-radio">
		<%= form.label :wifi, class: 'btn btn-default' do %>
			<%= form.radio_button :wifi, true %>
			<span>Yes</span>
		<% end %>

		<%= form.label :wifi, class: 'btn btn-default' do %>
			<%= form.radio_button :wifi, false %>
			<span>No </span>
		<% end %>
  </div>
</div>

<!-- Pool -->
<div class="field form-group">
  <%= form.label :pool, class: 'col-sm-3 control-label' %>
  <div class="btn-group col-sm-9" data-toggle="buttons-radio">
		<%= form.label :pool, class: 'btn btn-default' do %>
			<%= form.radio_button :pool, true %>
			<span>Yes</span>
		<% end %>

		<%= form.label :pool, class: 'btn btn-default' do %>
			<%= form.radio_button :pool, false %>
			<span>No </span>
		<% end %>
  </div>
</div>

<!-- Upload multiple images -->
<div class="file-field form-group">
	<%= form.label :property_image, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
	  <%= form.file_field :images, multiple: true %>
	  <%#= form.label :remote_image_url, "or image URL" %><%#= form.text_field :remote_image_url %>
  </div>
</div>