<div class="container">
	<h2>Hi, <%= current_user.name %>! Let's get started listing your space.</h2>

	<div id="" class="">
		<!-- Display error messages if any -->
		<% if @listing.errors.any? %>
			<ul>
				<% @listing.errors.full_messages.each do |message| %>
					<li><%= message%></li>
				<% end %>
			</ul>

		<% end %>

	  <%= form_for @listing, html: { class: 'new-listing-form form-horizontal' } do |form| %>
	    <%= render partial: '/listings/form', object: form %>

	    <div class="submit-field form-group">
	    	<div class="col-sm-offset-3 col-sm-9">
		      <%= form.submit 'Create Listing', class: 'btn btn-default' %>
	    	</div>
	    </div>
	  <% end %>
	</div>
</div>

