<div class="container">
	<div class="col-lg-7">
		<% unless @listing.user.moderator? %>
			<% if @listing.user == current_user || current_user.admin? %>
				<%= link_to 'Edit Listing', edit_listing_path %>
			<% end %>
		<% end %>
		<% unless current_user.customer? || @listing.verified %>
				<%= link_to 'Verify Listing', verify_listing_path, method: :verify, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
		<% end %> 
		<br>

		<div class="row">
			<span class="listing-title">
				<%= @listing.title %>
			</span>
			<span><%= "verified" if @listing.verified %></span>
		</div>

		<div class="row">
			<div class="listing-tag">
				<span>Tags: </span>
				<span><%= raw @listing.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></span>
			</div>
		</div>
		
		<div class="row">
			<div class="listing-address">
				<%= @listing.address %> 
				<%= @listing.city %> <%= @listing.postcode %>
				<%= @listing.state %> <%= @listing.country %> 
			</div>
		</div>
		
		<div class="row">
			<span>RM</span>
			<span class="listing-price"><%= number_with_precision(@listing.price_per_night, precision: 2) %></span>
			<span> per night</span>
		</div>

		<div class="row">
			<% host = @listing.user %>
			<div class="listing-host"><%= link_to user_path(host) do %><%= host.name %><% end %></div>
		</div>

		<br>
		<% if @listing.user == current_user || current_user.admin? %>
			<%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>
