<h1>This is listings/show page</h1>

<% if @listing.user == current_user %>
	<%= link_to 'Edit Listing', edit_listing_path %>
<% end %>
<br>

<%= @listing.title %>
<%= @listing.address %>
<%= @listing.price_per_night %>

<br>
<% if @listing.user == current_user %>
	<%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>