<%= render partial: '/listings/image_carousel'%>

<div class="container">
	<div class="col-lg-7 col-md-8">
		<% if signed_in? %>
			<% unless @listing.user.moderator? %>
				<% if @listing.user == current_user || current_user.admin? %>
					<%= link_to 'Edit Listing', edit_listing_path %>
				<% end %>
			<% end %>
			<% unless current_user.customer? || @listing.verified %>
					<%= link_to 'Verify Listing', verify_listing_path, method: :verify, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
			<% end %> 
			<br>
		<% end %> 

		<!-- Listing title -->
		<div class="row">
			<span class="listing-title">
				<%= @listing.title %>
			</span>
			<span><%= "verified" if @listing.verified %></span>
		</div>

		<!-- Listing taggings -->
		<div class="row">
			<div class="listing-tag">
				<span>Tags: </span>
				<span><%= raw @listing.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></span>
			</div>
		</div>
		
		<!-- Listing address -->
		<div class="row">
			<div class="listing-address">
				<%= @listing.address %> 
				<%= @listing.city %> <%= @listing.postcode %>
				<%= @listing.state %> <%= @listing.country %> 
			</div>
		</div>
		
		<!-- Listing price per night -->
		<div class="row">
			<span>RM</span>
			<span class="listing-price"><%= number_with_precision(@listing.price_per_night, precision: 2) %></span>
			<span> per night</span>
		</div>

		<!-- Listing host -->
		<div class="row">
			<% host = @listing.user %>
			<div class="listing-host"><%= link_to user_path(host) do %><%= host.name %><% end %></div>
		</div>

		<br>
		<% if signed_in? %>
			<% if @listing.user == current_user || current_user.admin? %>
				<%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		<% end %>
	</div>

	<% if signed_in? %>
		<% if current_user.customer? %>
		<div class="col-lg-3 col-md-3">
			<%= form_for @reservation, html: { class: 'form-horizontal reservation-form' } do |form| %>
				<!-- Checkin / checkout date -->
				<div class="form-group">
					<div class="reservation-col">
						<%= form.label :checkin_date, "Check In", class: 'control-label' %>
						<%= form.text_field :checkin_date, required: true, class: 'form-control datetimepicker_in' %>
					</div>
					<div class="reservation-col">
						<%= form.label :checkout_date, "Check Out", class: 'control-label' %>
						<%= form.text_field :checkout_date, required: true, class: 'form-control datetimepicker_out' %>
					</div>
				</div>

				<%= form.hidden_field :listing_id, value: @listing.id %>

				<!-- Guest No -->
				<div class="form-group">
				  <%= form.label :number_of_guests, class: 'control-label' %>
				  <%= form.number_field :guest_no, required: true, class: 'form-control reservation-guest' %>
				</div>

				<!-- Submit button -->
		    <div class="submit-field form-group">
			      <%= form.submit 'Book', class: 'btn btn-danger' %>
		    </div>
			<% end %>
		</div>
		<% end %>
	<% else %>
		<%= link_to 'Sign In', sign_in_path %>
		<span> / </span>
		<%= link_to 'Sign Up', sign_up_path %>
		<span>to Make a Reservation</span>
	<% end %>
</div>
