<div class="edit-profile panel panel-default">
	<div class="panel-heading">
		Edit Profile
	</div>
	<div class="panel-body">
	  <%= form_for @user, html: { class: 'form-horizontal' } do |form| %>
			<div class="file-field form-group">
		  	<%= form.label :profile_photo, class: 'col-sm-3 control-label' %>
			  <div class="col-sm-9">
				  <%= form.file_field :avatar, class: '' %><%= form.label :remote_avatar_url, "or image URL" %><%= form.text_field :remote_avatar_url %>
			  </div>
			</div>

			<div class="text-field form-group">
			  <%= form.label :name, class: 'col-sm-3 control-label' %>
			  <div class="col-sm-9">
				  <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %>
			  </div>
			</div>

			<div class="text-field form-group">
			  <%= form.label :email, class: 'col-sm-3 control-label' %>
			  <div class="col-sm-9">
				  <%= form.text_field :email, type: 'email', placeholder: 'Email', class: 'form-control' %>
			  </div>
			</div>
			
	    <div class="submit-field form-group">
	    	<div class="col-sm-offset-2 col-sm-9">
		      <%= form.submit 'Save', class: 'btn btn-danger' %>
	    	</div>
	    </div>
	  <% end %>
	</div>
</div>