<div class="container-fluid profile-page">
	<div class="row text-center">
		<!-- Avatar image -->
		<div class="col-lg-3 col-md-4 hide-sm">
			<div class="text-center profile-avatar", style="background-image: url(<%= @user.avatar.url %>)">
				<!-- /uploads/user/avatar/1/avatar3.jpg -->

				<%#= image_tag @user.avatar.url.to_s, class: 'img-responsive' if @user.avatar? %>
			</div>
		</div>

		<div class="col-lg-9 col-md-8 col-sm-12 text-left">
			<h1 class="text-left">Hey, I'm <%= @user.name %>!</h1>
			<% if @user == current_user %>
				<div><%= link_to 'Edit Profile', edit_user_path %></div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-4 hide-sm">
			<!-- Display user/:id/listings -->
			<div>
				<% user_listings = @user.listings %>
				<h2 class="text-left">Listings <small>(<%= user_listings.count %>)</small></h2>
				<ul class="list-group">
					<% user_listings.first(3).each do |listing| %>
						<li class="list-group-item"><%= link_to listing_path(listing), target: "_blank" do %><%= listing.title %><% end %></li>
					<% end %>
				</ul>
			</div>
			<%= link_to 'View all listings', user_listings_path %>
		</div>

		<div class="col-lg-9 col-md-8 col-sm-12">
			<!-- Display user/:id/reviews -->
			<h2 class="text-left">Reviews <small>(<%= 0 %>)</small></h2>
		</div>
	</div>
</div>