<h4><%= link_to @user.name, user_path %></h4>

<h4><%= @user.reservations.count %> reservations</h4>

<% @user.reservations.each do |reservation| %>
	<% listing = reservation.listing %>
	<div class="row reservation-item">
		<!-- Listing image -->
		<div class="col-lg-2">
			<% if listing.images? %>
				<%= image_tag listing.images[0].url.to_s, class: 'img-responsive' %>
			<% else %>
				<img class="img-responsive" src="http://via.placeholder.com/200x200" alt="">
			<% end %>
		</div>

		<div class="col-lg-10">		
			<%= link_to 'View more details', reservation_path(reservation) %><br>
			<%= link_to listing_path(listing), class: 'listing-title' do %>
				<%= listing.title %>
			<% end %><br>
			Total amount: RM<%= number_with_precision(reservation.total_amount, precision: 2) %><br>
		</div>
	</div>
<% end %>